HTTP_PORT=3000
HTTP_HOST=0.0.0.0

DB_HOST=127.0.0.1
DB_USER=iot_user
DB_PASS=CHANGE_ME
DB_NAME=iot_safety

# ESP must send this header: X-API-KEY
IOT_API_KEY=CHANGE_ME_TO_SOMETHING_SECRET

# Online/offline window (seconds). If last_seen <= this => online.
DEVICE_ONLINE_SECONDS=20
